<ion-content [fullscreen]="true" class="fondo">
  <div class="container-fluid">
    <div class="text-center my-3">
      <h1
        style="height: 60px; border-bottom: solid 1px black"
        class="text-dark">
        Asignaturas actuales
      </h1>
    </div>

    <div class="container p-4 my-5 mo">
      <!-- <div *ngFor="let asig of listado_asignatura">
                  <app-asignatura role="button" (click)="irSeccion(asig.nombre_asignatura)" [nombreAsignatura]="asig.nombre_asignatura"></app-asignatura>
               </div> -->

      <!-- <div *ngFor="let asi of listaAsignatura">

                  <app-seccion role="button" (click)="irSeccion(asi.nombreProfesor)"
                      [nombreAsignatura]="asi.nombreAsignatura">
                  </app-seccion>

              </div> -->
      <div>
        <div>
          <!-- tu código aquí -->
        </div>
      </div>
    </div>
  </div>
</ion-content>
