
.titulo {
    text-align: center;
    font-size: xx-large;
    color: rgb(2, 1, 1);
    margin-top: 40px;
    margin-bottom: 15px;
}

// .logo {
//     margin: auto;
//     width: 250px;
//     height: 250px;
//     border-radius: 50%;
//     border: solid 2px black;
//     background: url('../../../assets/img/logo\ registrapp.jpg') 0/100% 100%;
//     margin-top: 60px;
// }

.iconoUsu {
    width: 75px;
    height: 35px;
    border: solid 1px black;
    border-radius: 50%;
    margin: 10px;

}

.icono {

    width: 40px;
    border: solid 1px black;
    border-radius: 50%;
    margin: 10px;
}


.container {
    border-radius: 5%;
    background: rgba(57, 54, 59, 0.192);
    padding-bottom: 20px;
    width: 98%;
   
}

.hola {
    color: alic eblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-color: black;


}

.boton {
    border-color: black;
    color: black;

}



.TextIngresar{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.olvidarcontra{
    margin-top: 15px;
    text-align: center;
}