<ion-content [fullscreen]="true" class="fondo">
  <div>
    <div class="titulo">Inicio de sesión</div>
    <div>
      <div>
        <div>
          <ion-label class="labels">Correo Institucional</ion-label>
          <ion-input class="inputs" labelPlacement="floating"></ion-input>
        </div>

        <div class="col-12 ">
          <div style="margin-top: 20px;">
            <ion-label class="labels">Contraseña</ion-label>
          </div>
          <ion-input class="inputs" type="password" labelPlacement="floating">
          </ion-input>
        </div>
      </div>
    </div>
    <div>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div class="olvidarcontra">
          <h5><a style="color: rgb(8, 8, 8);">Olvidaste tu contraseña?</a></h5>
        </div>
        <div style="text-align: end;">
          <ion-button class="botones">Ingresar<ion-icon style="margin-left: 10px;" name="enter-outline"></ion-icon></ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>