.titulo {
    margin-left: 100px;
    font-size: xx-large;
    color: rgb(2, 1, 1);
    margin-top: 150px;
    margin-bottom: 80px;
}
.labels{
    margin-left: 100px;
    color: black;
    font-size: large;
    
}
.inputs{
    display: grid;
    border-width: 10px;
    border-bottom: solid 1px black;
    --placeholder-color: black;
    width: 90%;
    margin-left: 100px;
    color: black;
}

.botones{
    margin-top: 50px;
    --background: hwb(231 8% 43% / 0.911);
    height: 40px;
    font-size: large;
    width: 220px;
    margin-right: 100px;
}

.datos{
    margin-top: 70px;
    text-align: center;
}